.OrderItem{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.OrderItem .OrderImg{
  cursor: pointer;
  width : 300px;
  height: 300px;
}

.OrderItem .OrderTitle{
  margin-right: 10rem;
  cursor: pointer;
}