@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ProductList_title{
    margin-top: 100px;
    font-family:'GangwonEdu_OTFBoldA';
    font-size: 50px;
    text-align: center;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
.App {
    width : 90%;
    margin : 0 auto;
    margin-bottom: 100px;
}
.border_out{
    border: 1px solid #fff;
    background-color:  black;
    border-radius: 8px;
    overflow: hidden;
    height: 400px;
}
