.PurchaseItem{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.PurchaseItem .PurchaseImg{
  cursor: pointer;
}

.PurchaseItem .PurchaseTitle{
  margin-right: 10rem;
  cursor: pointer;
}