.WalletItem{
  width: 655px;
  height: 200px;
  margin-left: 10px;
  background-color: white;
  border-radius: 8px;
}

.WalletItem .WalletTitle{
  margin-bottom : 0px;
  margin-top : 10px;
  margin-left : 10px;
}

.WalletItem .WalletTitle h2,
.WalletItem .WalletTitle h3{
  display: inline;
  margin:0px;
}

.WalletItem .WalletTitle h3{
  cursor: pointer;
}
